<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
     	<meta http-equiv="Pragma" content="no-cache"/>
     	<meta http-equiv="Expires" content="0"/>

		<title>DB of Dance</title>
		<meta charset="UTF-8">
		<meta name="description" content="A browsable video-archive of dance moves.">
		<meta name="keywords" content="HTML, CSS, javaScript, Dance">
		<meta name="author" content="Koger Darden, James Speller">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Import Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<!-- Normalize CSS -->
		<link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css') }}">

		<!-- Font Awesome -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{{ url_for('static',filename='css/responsive.css') }}">

		<!-- Main Stylesheet -->
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

	</head-->
	<body>
		<header class='title'>
			Database of Dance {{genre}}
		</header>

		<!-- Navigation section -->
		<nav id="navbar">
			{% for genre in genres %}
			<a class='nav-genre' href="{{genre}}"{% if genre == genre_chosen %} style="color: #6AA398" {% endif %}>{{genre}}</a>
			{% endfor %}
		</nav>

		<!-- Content section -->
		{% for genre in df.Genre.unique() %}
		<div class="genre-section">
			{% for style in (df[df['Genre'] == genre]).Style.unique() %}
			<div class="container">
				<div class="style-section">
					<div class="section-title">
						{{style}}
						<i class="close-style-button fa fa-minus" style='float:right;'aria-hidden="true"></i>
					</div>
					<div class="variation-section">
						{% for index, row in (df[df['Style'] == style]).iterrows() %}
						<div class="variation-thumbnail" data-video="{{row['Title']}}">{{row['Variation']}}</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}

		<!-- SlideOut box -->
		<div id="slideOut">

			<!-- Slide-out box close button -->
			<button class='close-tab-btn'><span>×</span></button>

			<div class="video-title"></div>

			<!-- Embedded Video Player -->
			<div id="divVideo">
			  	<video controls>
			    	<source src="" type="video/mp4" />
				</video>
			</div>
		</div>
		
	</body>
</html>
<script type="text/javascript">
	// Get the navbar
	var navbar = document.getElementById("navbar");
	// Get the offset position of the navbar
	var sticky = navbar.offsetTop;

	// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
	window.onscroll = function(e) {
		if (window.pageYOffset >= sticky) {
			navbar.classList.add("sticky")
		} else {
	    	navbar.classList.remove("sticky");
		}
	};

	//this.$slideOut = $('#slideOut');

	// Slideout show
	$('#slideOut').find('.close-tab-btn').on('click', function() {
		$("#slideOut").removeClass('showSlideOut');
		$(".genre-section").removeClass('squish');
	});

	// Style section compression
	$('.close-style-button').click(function() {
		$(this).closest('.section-title').next('.variation-section').toggleClass('hide-variation-section');
		$(this).toggleClass('fa-minus fa-plus')
	});

	// Thumbnail selection
	$(".variation-thumbnail").click(function() {
		if (!$("#slideOut").hasClass('showSlideOut')) {
			$("#slideOut").addClass('showSlideOut');
			$(".genre-section").addClass('squish');
		}
		var video = $(this).data('video');
		if 	($("#divVideo video source").attr("src") != "/static/vid/"+video) {
			$(".video-title").text(video.substring(0, video.length - 4));
			$("#divVideo video source").attr("src","/static/vid/"+video);
			$("#divVideo video")[0].load();
			$("#divVideo video")[0].play();
		}
	});
</script>
